<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if (!usernam) { %>
      <form class="form-inline my-1" action="/urls/reg" method="GET"></form>
      <div>
        <h7>User Login/Register</h7>
          <form action = "/urls/reg" method="get">
          <input type ="submit" value ="Login">
        </form>
      </div>
    <% } else { %>
    <form class="form-inline my-1" action="/logout" method="POST">
      <div>
        <h7>Signed in at:  <%=usernam%></h7>
        <form action = "/logout" method="post">
        <input type ="submit" value ="Logout">
      </form>
      </div>
    </form>
    <% } %>
      
    </nav>
</header>

